@import "./_bootswatch.scss";
@import "../common";
@import "~bootstrap/scss/functions";


body{
    background-image: url(https://source.unsplash.com/random/1280x1024);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#root{
    min-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
}
#login-container{
    display: flex;
    height: 100vh;
}
#login-container > .row{
    flex: 1;
}

#chat-view-container{
    width: 100%;
    padding-bottom: 6rem;
}
#chat-input-container{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 6rem;
    padding-top: 2rem;
    background-color: theme-color('alt');
}
#chat-input{
    background-color:rgba(white, 0.8);
    padding: .3rem;
}
.chat-input-group .form-control{
    border-top-left-radius: $input-border-radius;
    border-bottom-left-radius: $input-border-radius;
}
.chat-input-group .input-group-append .btn{
    border-top-right-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
}

#new-messages-icon{
    position: fixed;
    bottom: 7rem;
    right: 2rem;
}
.user-list{
    position: fixed;
    top: 2rem;
    right: 2rem;
}
.user-list > .user {
    margin-bottom: .2rem;
}

// Messages
.message{
    display: flex;
    flex-direction: row;
    color: black;
}
.message-content .username{
    font-weight: bold;
}
.message-content .timestamp{
    color: darkslategray;
    font-size: .6rem;
}

.message.local{
    justify-content: flex-end;
    flex-direction: row;
}
.message.remote{
    justify-content: flex-start;
}
.message.from-server{
    justify-content: center;
}
.message-content{
    width: 70%;
    padding: 1rem;
    margin: 1rem;
    border-radius: .7rem;
}
.message.local .message-content{
    background-color: rgba(theme-color('alt'), .8);
}
.message.remote .message-content{
    background-color: rgba(theme-color('primary'), .8);
}
.message.from-server .message-content{
    width: 100%;
    background-color: rgba(#eee, .8);
    color: $body-color;
}
.message.from-server .message-content .username, .message.from-server .message-content .timestamp{
    display: none;
}