@import "./_bootswatch.scss";
@import "../common";
@import "~bootstrap/scss/functions";

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: theme-color('alt');
}

#root{
    min-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
}

// -----------------------------------------------------------------------------
// Login page
// -----------------------------------------------------------------------------
#login-container{
    display: flex;
    height: 100vh;
}
#login-container > .row{
    flex: 1;
}

// -----------------------------------------------------------------------------
// Main chat UI
// -----------------------------------------------------------------------------
#chat-view-container{
    width: 100%;
    padding-bottom: $footer-height;
}

#chat-input-container{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: $footer-height;
    padding-top: 2rem;
    background-color: theme-color('alt');
}

#app-info{
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    font-size: .7rem;
    opacity: .2;
}

.user-list{
    position: fixed;
    top: 2rem;
    right: 2rem;
}
.user-list > .user {
    margin-bottom: .2rem;
    cursor: default;
}
.user.user-local{
    background-color: rgba(theme-color('alt'), .85);
    color: $body-color
}
.user.user-remote{
    background-color: rgba(theme-color('alt-light'), .85);
    color: $body-color
}

#new-messages{
    color: theme-color('primary');
    position: fixed;
    bottom: 7rem;
    right: 2rem;
}
.new-messages-icon{
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
}


// -----------------------------------------------------------------------------
// Chat elements
// -----------------------------------------------------------------------------

#chat-input{
    background-color:rgba(white, 0.8);
    padding: .3rem;
}
.chat-input-group .form-control{
    border-top-left-radius: $input-border-radius;
    border-bottom-left-radius: $input-border-radius;
}
.chat-input-group .input-group-append .btn{
    border-top-right-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
}

// -----------------------------------------------------------------------------
// Messages
// -----------------------------------------------------------------------------
.message{
    display: flex;
    flex-direction: row;
}
.message-content .username{
    font-weight: bold;
}
.message-content .timestamp{
    font-size: .6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.message.local{
    justify-content: flex-end;
    flex-direction: row;
}
.message.remote{
    justify-content: flex-start;
}
.message.from-server{
    justify-content: center;
    text-align: center;
}
.message-content{
    position: relative;
    width: 70%;
    padding: 1rem;
    margin: 1rem;
    border-radius: .7rem;
}
.message.local .message-content{
    background-color: rgba(theme-color('alt'), .85);
}
.message.remote .message-content{
    background-color: rgba(theme-color('alt-light'), .85);
}
.message.from-server .message-content{
    width: 100%;
    background-color: rgba(theme-color('alt-light'), .85);
}
.message.from-server .username, .message.from-server .timestamp{
    display: none;
}