@import "~bootstrap/scss/functions";

$body-bg   : white;
$body-color: #1D3557;

$spacer: 1rem !default;

$font-family-sans-serif: 		sans-serif;
$font-family-base:            	$font-family-sans-serif !default;
$font-weight-light: 			300;

// #F1FAEE
// #A8DADC
// #457B9D
$theme-colors: (
	"primary": #E63946,
	"success": #1D3557,
    "danger": #FF6666,
    "alt": #A8DADC,
    "alt-light": #F1FAEE,
);

$table-head-bg:               theme-color("alt") !default;
$input-border-radius:         .5rem !default;