@import "~bootstrap/scss/functions";

$enable-shadows: false;
$enable-rounded: false;

$body-bg   : white;
$body-color: #242424;

$spacer: 1rem !default;

$font-family-sans-serif: 		sans-serif;
$font-family-base:            	$font-family-sans-serif !default;
$font-weight-light: 			300;

$theme-colors: (
	"primary": #6699CC,
	"success": #03CEA4,
    "danger": #FF6666,
    "alt": #FFF275
);

$table-head-bg:               theme-color("alt") !default;
