html, body {
    height: 100%;
}
strong {
    font-weight: bold;
}
svg {
    fill: currentColor;
}

*:focus {
    outline: none;
}

/* helpers */

.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}
.no-padding-x{
    padding-left: 0;
    padding-right: 0;
}

.cursor-default {
    cursor: default;
}
.cursor-pointer, .pointer{
    cursor: pointer;
}

.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.mt-4{
    margin-top:1.5rem
}
.mt-5{
    margin-top:2rem
}
.mt-6{
    margin-top:3rem
}
.mt-7{
    margin-top:4rem
}
.mt-8{
    margin-top:5rem
}
.mt-9{
    margin-top:6rem
}
.mt-10{
    margin-top:7rem
}
.mb-4{
    margin-bottom:1.5rem
}
.mb-5{
    margin-bottom:2rem
}
.mb-6{
    margin-bottom:3rem
}
.mb-7{
    margin-bottom:4rem
}
.mb-8{
    margin-bottom:5rem
}
.mb-9{
    margin-bottom:6rem
}
.mb-10{
    margin-bottom:7rem
}

.pt-4{
    padding-top:1.5rem
}
.pt-5{
    padding-top:2rem
}
.pt-6{
    padding-top:3rem
}
.pt-7{
    padding-top:4rem
}
.pt-8{
    padding-top:5rem
}
.pt-9{
    padding-top:6rem
}
.pt-10{
    padding-top:7rem
}
.pb-4{
    padding-bottom:1.5rem
}
.pb-5{
    padding-bottom:2rem
}
.pb-6{
    padding-bottom:3rem
}
.pb-7{
    padding-bottom:4rem
}
.pb-8{
    padding-bottom:5rem
}
.pb-9{
    padding-bottom:6rem
}
.pb-10{
    padding-bottom:7rem
}

.p-4{
    padding:1.5rem
}
.p-5{
    padding:2rem
}
.p-6{
    padding:3rem
}
.p-7{
    padding:4rem
}
.p-8{
    padding:5rem
}
.p-9{
    padding:6rem
}
.p-10{
    padding:7rem
}